* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: url("./assets/desert.jpg") no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    width: 80%;
    height: 50vh;
}

.time {
    font-size: 70px;
}

#sec {
    font-size: 40px;
}

#mer {
    font-size: 25px;
    font-weight: bold;
}

.date {
    font-size: 30px;
}


@media screen and (max-width: 650px) {
    .time {
        font-size: 50px;
    }

    #sec {
        font-size: 20px;
    }

    #mer {
        font-size: 20px;
    }

    .date {
        font-size: 20px;
    }

    #year {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

}