* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grc: linear-gradient(to right, #1565C0, #b92b27);
    --grc2: linear-gradient(to right, #DBD65C, #5614B0);
    --grc3: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

nav {
    background: var(--grc);
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav>ul {
    display: flex;
    gap: 23px;
    list-style: none;
    flex-wrap: wrap;
}

nav>ul>li>a {
    background: var(--grc3);
    color: transparent;
    background-clip: text;
    font-size: 30px;
    cursor: pointer;
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}

nav>ul>li>a:hover {
    background: black;
    color: transparent;
    background-clip: text;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 17px;
    margin: 17px 0px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grc);
    height: 15%;
    border-radius: 24px;
    width: 60%;
    box-shadow: 5px 5px 5px black;

}

.card:hover {
    background: var(--grc2);
}

.card>img {
    width: 50%;
    height: 70%;
}

.goTop {
    position: fixed;
    top: 60%;
    right: 30px;
    cursor: pointer;
}
.goTop:hover{
    filter: drop-shadow(2px 4px 6px black);
}


@media screen and (max-width: 1080px) {
    nav>ul {
        line-height: 1px;
        gap: 17px;
        justify-content: center;
    }

    nav>ul>li>a {
        font-size: 20px;
    }

    .card {
        width: 90%;
        height: 15rem;
    }

    .goTop {
        right: 10px;
    }
}